apiVersion: v1
kind: Namespace
metadata:
  name: {{ item.key }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ item.key }}
  namespace: {{ item.key }}
spec:
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8443
  selector:
    app: {{ item.key }}
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ item.key }}
  namespace: {{ item.key }}
spec:
  selector:
    matchLabels:
      app: {{ item.key }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ item.key }}
    spec:
      containers:
      - image: {{ item.value.image }}:{{ item.value.tag }}
        name: {{ item.key }}
        envFrom:
        - secretRef:
            name: {{ item.key }}
        ports:
        - containerPort: 8443
          name: {{ item.key }}