apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: check-image
  namespace: 
spec:
  validationFailureAction: Enforce
  background: false
  webhookTimeoutSeconds: 30
  failurePolicy: Fail
  rules:
    - name: check-image
      match:
        any:
        - resources:
            kinds:
              - Pod
      verifyImages:
      - imageReferences:
        - "ksw2137/meme-giver*"
        attestors:
        - count: 1
          entries:
          - keys:
              publicKeys:          
